<div class="card">
  <div class="card-body">
    <h4 class="card-title">Import Fiches Excel</h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="form-group mb-4">
      <input class="btn btn-outline-light" type="file"
             id="file"
             (change)="handleFileInput($event.target.files)">
    </div>
    <button type="button"  class="btn btn-primary mr-2" (click)="uploadFileToActivity()" [disabled]="disabled">Import</button>
    <button type="button" class="btn btn-light" (click)="modal.dismiss('cancel click')">Annuler</button>
  </div>
  <ngx-spinner bdColor="rgba(255,255,255,0.1)">
    <div class="spinner-grow text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-info" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </ngx-spinner>
</div>


