<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-5">Notify Sheet PFE</h4>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr [routerLink]="['/sheet/1']" class="bg-light">
                <td> Herman Beck , Directeur </td><td>Sheet PFE</td><td>Update sheet</td><td>Lorem Ipsum is simply dummy text of the printing</td><td> May 15, 2015 </td>
              </tr>
              <tr routerLink="/sheet" >
                <td> Herman Beck , Directeur </td><td>Sheet PFE</td><td>Update sheet</td><td>Lorem Ipsum is simply dummy text of the printing</td><td> May 15, 2015 </td>
              </tr>
            </tbody>
           </table>
        </div>
      </div>
    </div>
  </div>
</div>
