<div class="details-sheet"  *ngFor="let sheetM of sheet.sheetPFEModifications">
  <blockquote class="blockquote blockquote-info">
    <p class="date-update">Modifier le : <span class="text-info">{{ sheetM.created}}</span></p>
    <h4 class="card-title">Titre</h4>
    <p class="card-description"> {{ sheetM.title }} </p>

    <h4 class="card-title">Description</h4>
    <p class="card-description">
      {{ sheetM.description }}
    </p>

    <h4 class="card-title">Problématique</h4>
    <p class="card-description">
      {{ sheetM.problematic}}
    </p>

    <h4 class="card-title">Fonctionnalités</h4>
    <p class="card-description">
      {{ sheetM.features}}
    </p>


    <h4 class="card-title">Categories</h4>
    <ul class="list-arrow">
      <li *ngFor="let categorie of sheetM.categories"> {{ categorie.name}} </li>
    </ul>

    <h4 class="card-title">Entreprise</h4>
    <p class="card-description">
      <a href="" class="text-info">{{ sheetM.entreprise?.nameEntreprise }} </a>
    </p>
    <p>{{ sheetM.entreprise?.adresse }} {{ sheetM.entreprise?.pays }}</p>
    <p ><i class="fa fa-envelope-o"></i> {{ sheetM.entreprise?.nameEntreprise }}</p>
  </blockquote>


</div>

